:root {
  // Black & White
  --black-50: rgba(26, 26, 26, 0.05); /* #1a1a1a1a */
  --black-100: rgba(26, 26, 26, 0.1); /* #1a1a1a1a */
  --black-200: rgba(26, 26, 26, 0.2); /* #1a1a1a33 */
  --black-300: rgba(26, 26, 26, 0.3); /* #1a1a1a33 */
  --black-400: rgba(26, 26, 26, 0.4); /* #1a1a1a4d */
  --black-500: rgba(26, 26, 26, 0.5); /* #1a1a1a66 */
  --black-600: rgba(26, 26, 26, 0.6); /* #1a1a1a99 */
  --black-700: rgba(26, 26, 26, 0.7); /* #1a1a1ab3 */
  --black-800: rgba(26, 26, 26, 0.8); /* #1a1a1acc */
  --black-900: rgba(26, 26, 26, 1); /* #1a1a1a */
  --white-50: rgba(255, 255, 255, 0.05); /* #ffffff1a */
  --white-100: rgba(255, 255, 255, 0.1); /* #ffffff1a */
  --white-200: rgba(255, 255, 255, 0.2); /* #ffffff33 */
  --white-300: rgba(255, 255, 255, 0.3); /* #ffffff4d */
  --white-400: rgba(255, 255, 255, 0.4); /* #ffffff66 */
  --white-500: rgba(255, 255, 255, 0.5); /* #ffffff80 */
  --white-600: rgba(255, 255, 255, 0.6); /* #ffffff99 */
  --white-700: rgba(255, 255, 255, 0.7); /* #ffffffb3 */
  --white-800: rgba(255, 255, 255, 0.8); /* #ffffffcc */
  --white-900: rgba(255, 255, 255, 1); /* #ffffff */
  --blue-50: rgba(240, 249, 255, 1); /* #f0f9ff */
  --blue-100: rgba(225, 243, 254, 1); /* #e1f3fe */
  --blue-200: rgba(185, 229, 252, 1); /* #b9e5fc */
  --blue-300: rgba(125, 211, 251, 1); /* #7dd3fb */
  --blue-400: rgba(58, 190, 247, 1); /* #3abef7 */
  --blue-500: rgba(27, 173, 240, 1); /* #1badf0 */
  --blue-600: rgba(64, 114, 210, 1); /* #4072d2 */
  --blue-700: rgba(3, 105, 159, 1); /* #03699f */
  --blue-800: rgba(5, 69, 103, 1); /* #054567 */
  --blue-900: rgba(4, 38, 63, 1); /* #04263f */
  --grey-50: rgba(248, 250, 252, 1); /* #f8fafc */
  --grey-100: rgba(241, 245, 249, 1); /* #f1f5f9 */
  --grey-200: rgba(225, 231, 239, 1); /* #e1e7ef */
  --grey-300: rgba(200, 214, 229, 1); /* #c8d6e5 */
  --grey-400: rgba(158, 172, 192, 1); /* #9eacc0 */
  --grey-500: rgba(100, 116, 139, 1); /* #64748b */
  --grey-600: rgba(72, 86, 106, 1); /* #48566a */
  --grey-700: rgba(51, 65, 86, 1); /* #334156 */
  --grey-800: rgba(29, 40, 57, 1); /* #1d2839 */
  --grey-900: rgba(20, 30, 53, 1); /* #141e35 */
  --green-bg: rgba(234, 254, 229, 1); /* #eafee5 */
  --green-success: rgba(8, 173, 55, 1); /* #08ad37 */
  --orange-bg: rgba(254, 250, 229, 1); /* #fefae5 */
  --orange-caution: rgba(249, 173, 20, 1); /* #f9ad14 */
  --red-bg: rgba(254, 234, 229, 1); /* #feeae5 */
  --red-error: rgba(216, 35, 44, 1); /* #d8232c */
  --graph-primary-orange: rgba(255, 166, 46, 1); /* #ffa62e */
  --graph-primary-red: rgba(255, 92, 100, 1); /* #ff5c64 */
  --graph-primary-green: rgba(165, 195, 78, 1); /* #a5c34e */
  --graph-primary-blue: rgba(45, 156, 219, 1); /* #2d9cdb */
  --graph-primary-yellow: rgba(251, 237, 83, 1); /* #fbed53 */
  --graph-primary-purple: rgba(122, 81, 171, 1); /* #7a51ab */
  --graph-secondary-brown: rgba(173, 121, 66, 1); /* #ad7942 */
  --graph-secondary-pink: rgba(251, 144, 180, 1); /* #fb90b4 */
  --graph-secondary-teal: rgba(60, 202, 186, 1); /* #3ccaba */
  --graph-secondary-dark-blue: rgba(64, 114, 210, 1); /* #4072d2 */
  --graph-secondary-black: rgba(66, 78, 98, 1); /* #424e62 */
  --graph-secondary-grey: rgba(180, 180, 180, 1); /* #b4b4b4 */
}
