@use "../../../styles/variables.scss";

// Menu component SCSS file
.menu {
  &__container {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 12px 0px var(--black-100),
      0px 2px 4px -2px var(--black-100);
    background-color: var(--white-900);
    border: 1px solid var(--grey-200);
  }

  &__title {
    padding: 8px 16px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: var(--grey-600);
    border-bottom: 1px solid var(--grey-200);
  }

  &__items {
    display: flex;
    flex-direction: column;
  }
}
