/* Color variables */
:root {
	--black-50: rgba(26, 26, 26, 0.05);
	--black-100: rgba(26, 26, 26, 0.1);
	--black-200: rgba(26, 26, 26, 0.2);
	--black-300: rgba(26, 26, 26, 0.3);
	--black-400: rgba(26, 26, 26, 0.4);
	--black-500: rgba(26, 26, 26, 0.5);
	--black-600: rgba(26, 26, 26, 0.6);
	--black-700: rgba(26, 26, 26, 0.7);
	--black-800: rgba(26, 26, 26, 0.8);
	--black-900: rgba(26, 26, 26, 1);
	--white-50: rgba(255, 255, 255, 0.05);
	--white-100: rgba(255, 255, 255, 0.1);
	--white-200: rgba(255, 255, 255, 0.2);
	--white-300: rgba(255, 255, 255, 0.3);
	--white-400: rgba(255, 255, 255, 0.4);
	--white-500: rgba(255, 255, 255, 0.5);
	--white-600: rgba(255, 255, 255, 0.6);
	--white-700: rgba(255, 255, 255, 0.7);
	--white-800: rgba(255, 255, 255, 0.8);
	--white-900: rgba(255, 255, 255, 1);
	--blue-50: rgba(240, 249, 255, 1);
	--blue-100: rgba(225, 243, 254, 1);
	--blue-200: rgba(185, 229, 252, 1);
	--blue-300: rgba(125, 211, 251, 1);
	--blue-400: rgba(58, 190, 247, 1);
	--blue-500: rgba(27, 173, 240, 1);
	--blue-600: rgba(64, 114, 210, 1);
	--blue-700: rgba(3, 105, 159, 1);
	--blue-800: rgba(5, 69, 103, 1);
	--blue-900: rgba(4, 38, 63, 1);
	--grey-50: rgba(248, 250, 252, 1);
	--grey-100: rgba(241, 245, 249, 1);
	--grey-200: rgba(225, 231, 239, 1);
	--grey-300: rgba(200, 214, 229, 1);
	--grey-400: rgba(158, 172, 192, 1);
	--grey-500: rgba(100, 116, 139, 1);
	--grey-600: rgba(72, 86, 106, 1);
	--grey-700: rgba(51, 65, 86, 1);
	--grey-800: rgba(29, 40, 57, 1);
	--grey-900: rgba(20, 30, 53, 1);
	--green-bg: rgba(234, 254, 229, 1);
	--green-success: rgba(8, 173, 55, 1);
	--orange-bg: rgba(254, 250, 229, 1);
	--orange-caution: rgba(249, 173, 20, 1);
	--red-bg: rgba(254, 234, 229, 1);
	--red-error: rgba(216, 35, 44, 1);
	--graph-primary-orange: rgba(255, 166, 46, 1);
	--graph-primary-red: rgba(255, 92, 100, 1);
	--graph-primary-green: rgba(165, 195, 78, 1);
	--graph-primary-blue: rgba(45, 156, 219, 1);
	--graph-primary-yellow: rgba(251, 237, 83, 1);
	--graph-primary-purple: rgba(122, 81, 171, 1);
	--graph-secondary-brown: rgba(173, 121, 66, 1);
	--graph-secondary-pink: rgba(251, 144, 180, 1);
	--graph-secondary-teal: rgba(60, 202, 186, 1);
	--graph-secondary-dark-blue: rgba(64, 114, 210, 1);
	--graph-secondary-black: rgba(66, 78, 98, 1);
	--graph-secondary-grey: rgba(180, 180, 180, 1);
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  outline: none;
  font-family: "Inter", sans-serif;
  font-style: 400;
  color: #333;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
p,
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  vertical-align: baseline;
  vertical-align: middle;
  line-height: normal;
  overflow: visible;
  font-family: "Inter", sans-serif;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap);
}

.type-light {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.type-bold {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.type-italic {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: 400;
  padding: 0.75rem 0;
  line-height: 1.5rem !important;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: #333;
  outline: none;
}

.checkbox {
  display: inline-block;
  height: 3rem;
  position: relative;
  vertical-align: middle;
  width: 44px;
}

.checkbox input[type="checkbox"] {
  font-size: 1em;
  visibility: hidden;
}

.checkbox input[type="checkbox"] + span:before {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  width: 0.85em;
  height: 0.85em;
  transform: translate3d(-50%, -50%, 0);
  background: transparent;
  box-shadow: #2cc5d2 0 0 0 1px inset;
  content: "";
  display: block;
}

.checkbox input[type="checkbox"]:checked + span:before {
  font-size: 16px;
  line-height: 24px;
  box-shadow: none;
  color: #2cc5d2;
  margin-top: -1px;
  font-family: "percolate";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  content: "\e65e";
}
