name: Publish Package Internal

on:
  push:
    branches:
      - main

jobs:
  publish:
    uses: tetrascience/devops/.github/workflows/publish-npm-package.yml@main
    with:
      prerelease_tag: beta
    secrets:
      AUTH_TOKEN: '${{ secrets.JFROG_ARTIFACTORY_WRITE_NPM_AUTH }}'
      REGISTRY: '${{ secrets.JFROG_ARTIFACTORY_NPM_VIRTUAL_URL }}'
      PUBLISH_REGISTRY: '${{ secrets.JFROG_ARTIFACTORY_WRITE_NPM_URL }}'

