name: Publish to Public npm

on:
  push:
    tags: '*'
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  approve:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    environment: PROD
    steps:
      - run: echo "Approved"

  publish-production:
    if: startsWith(github.ref, 'refs/tags/')
    needs: approve
    uses: tetrascience/ts-ci-cd-lib/.github/workflows/publish-npm-package.yml@main
    with:
      publish_to_public_npm: true
    secrets:
      PUBLISH_REGISTRY: 'https://registry.npmjs.org'

  publish-beta:
    if: github.ref == 'refs/heads/main'
    uses: tetrascience/ts-ci-cd-lib/.github/workflows/publish-npm-package.yml@main
    with:
      prerelease_tag: beta
      publish_to_public_npm: true
    secrets:
      PUBLISH_REGISTRY: 'https://registry.npmjs.org'
