name: Publish Package Internal

on:
  push:
    branches:
      - main

permissions: {}

jobs:
  publish:
    uses: tetrascience/ts-ci-cd-lib/.github/workflows/publish-npm-package.yml@main
    with:
      prerelease_tag: beta
    secrets: inherit

